<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.1.1" targetFramework="net461" />
  <package id="Castle.Windsor" version="4.0.0" targetFramework="net461" />
  <package id="FluentValidation" version="7.1.1" targetFramework="net461" />
  <package id="Miruken" version="1.8.1.27-prerelease" targetFramework="net461" />
  <package id="Miruken.Castle" version="1.8.1.10-prerelease" targetFramework="net461" />
  <package id="Miruken.Validate" version="1.5.1.10-prerelease" targetFramework="net461" />
  <package id="Miruken.Validate.Castle" version="1.5.1.9-prerelease" targetFramework="net461" />
</packages>