<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net461" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net461" />
  <package id="FluentValidation" version="7.1.1" targetFramework="net461" />
  <package id="Miruken" version="1.4.1.18-prerelease" targetFramework="net461" />
  <package id="Miruken.Castle" version="1.4.1.12-prerelease" targetFramework="net461" />
  <package id="Miruken.Validate" version="1.1.1.12-prerelease" targetFramework="net461" />
  <package id="Miruken.Validate.Castle" version="1.1.1.11-prerelease" targetFramework="net461" />
</packages>